body {
	background-color: rgb(255, 232, 233);
}

header {
	width: 100%;
	background-color: mediumslateblue;
	color: white;
	text-align: left;
}

.mdl-layout__content {
	padding: 16px;
}

a {
	text-decoration: none;
}

footer {
	.copyright-container {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 20px;
		background-color: rgb(253, 216, 245);

		.logo {
			width: 30px;
			height: 30px;
			margin-right: 10px;
		}

		.copyright {
			font-size: 16px;
			font-weight: bold;
		}
	}
}
